@import "tailwindcss";

:root {
	--surface-text: #414141;
	--secondary-text: #ffffff;
	--grey-text: #606060;
	--light-text: #bfbfbf;

	--surface: #ffffff;
	--light: #bfbfbf;
	--lightest: #f3f2f1;
	--black: #000000;
	--primary: #ff6633;
	--secondary: #70c05b;
	--success: #008c49;
	--info: #1cb9fc;
	--warning: #fca21c;
	--error: #d80000;
	--hard: #8f8f8f;

	--app-bg: #fbf8ec;
	--offer-card-primary-bg: #fcd5ba;
	--offer-card-secondary-bg: #e5ffde;

	--secondary-hover: #72ce5b;

	--shadow-header-dark: rgba(0, 0, 0, 0.1);
	--shadow-dropdown-dark: rgba(0, 0, 0, 0.1);
	--shadow-input-secondary: rgba(112, 192, 91, 0.2);
	--shadow-card-primary: rgba(255, 102, 51, 0.2);
	--shadow-button-primary: rgba(255, 102, 51, 0.2);
	--shadow-button-secondary: rgba(112, 192, 91, 0.2);
	--shadow-button-active: rgba(0, 0, 0, 0.2);
	--shadow-card-offer-primary: rgba(255, 102, 51, 0.2);
	--shadow-card-offer-secondary: rgba(112, 192, 91, 0.2);
}

@theme inline {
	--font-sans: var(--font-rubik);

	--color-surface-text: var(--surface-text);
	--color-secondary-text: var(--secondary-text);
	--color-hard-text: var(--hard);
	--color-primary-text: var(--primary);
	--color-grey-text: var(--grey-text);
	--color-light-text: var(--light-text);

	--color-success: var(--success);
	--color-secondary: var(--secondary);
	--color-surface: var(--surface);
	--color-primary: var(--primary);
	--color-lightest: var(--lightest);
	--color-light: var(--light);

	--color-card-primary-bg: var(--offer-card-primary-bg);
	--color-card-secondary-bg: var(--offer-card-secondary-bg);

	--color-secondary-hover: var(--secondary-hover);

	--shadow-header: 2px 2px 8px 0 var(--shadow-header-dark);
	--shadow-dropdown: 4px 8px 16px 0 var(--shadow-dropdown-dark);
	--shadow-input-focus: 4px 8px 16px 0 var(--shadow-input-secondary);
	--shadow-card: 1px 2px 4px 0 var(--shadow-header-dark);
	--shadow-card-hover: 4px 8px 16px 0 var(--shadow-card-primary);
	--shadow-button-primary-hover: 4px 8px 16px 0 var(--shadow-button-primary);
	--shadow-button-secondary-hover: 4px 8px 16px 0 var(--shadow-button-secondary);
	--shadow-button-active: inset 0 2px 0 0 var(--shadow-button-active);
	--shadow-card-offer-primary: 0 8px 16px 0 var(--shadow-card-offer-primary);
	--shadow-card-offer-secondary: 4px 8px 16px 0
		var(--shadow-card-offer-secondary);

	--breakpoint-xs: 320px;
}

@utility transition-base {
	@apply transition-all duration-200 ease-in-out;
}

body {
	font-family: var(--font-rubik);
	background-color: var(--app-bg);

	scrollbar-gutter: stable;
}
